<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kurumi.dispense.dao.SessionDao">
	
	<insert id="insertSession" parameterType="com.kurumi.dispense.entity.Session">
		insert into transfer_session
		(
			session_id,
			create_date
		)values
		(
			#{sessionId},
			now()
		)
	</insert>
	
	<select id="findSessionBySessionId" parameterType="String" resultType="long">
		select count(1) from transfer_session where session_id = #{sessionId}
	</select>
	
	
	
</mapper> 

